<h1 style="text-align:center;font-size: 4em"> TP6 : Analyse et prédiction des infections COVID-19 </h1>
<h1 style="text-align:center;"> Nettoyage des données </h1>

### Importer les biblio nécessaire

In [2]:
import numpy as np
import pandas as pd

### Importer le fichier des données

In [3]:
dat = pd.read_csv("latestdata.csv")
print('Les noms des colonnes: \n',dat.columns.values)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,2,9,10,12,13,14,15,16,17,19,20,21,22,23,24,25,26,27,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Les noms des colonnes:
 ['ID' 'age' 'sex' 'city' 'province' 'country' 'latitude' 'longitude'
 'geo_resolution' 'date_onset_symptoms' 'date_admission_hospital'
 'date_confirmation' 'symptoms' 'lives_in_Wuhan' 'travel_history_dates'
 'travel_history_location' 'reported_market_exposure'
 'additional_information' 'chronic_disease_binary' 'chronic_disease'
 'source' 'sequence_available' 'outcome' 'date_death_or_discharge'
 'notes_for_discussion' 'location' 'admin3' 'admin2' 'admin1'
 'country_new' 'admin_id' 'data_moderator_initials'
 'travel_history_binary']

In [4]:
dat

,ID,age,sex,city,province,country,latitude,longitude,geo_resolution,date_onset_symptoms,...,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id,data_moderator_initials,travel_history_binary
0,000-1-1,NaN,male,Shek Lei,Hong Kong,China,22.365019,114.133808,point,NaN,...,NaN,NaN,Shek Lei,NaN,NaN,Hong Kong,China,8029.0,NaN,NaN
1,000-1-10,78,male,Vo Euganeo,Veneto,Italy,45.297748,11.658382,point,NaN,...,22.02.2020,NaN,Vo' Euganeo,NaN,NaN,Veneto,Italy,8954.0,NaN,NaN
2,000-1-100,61,female,NaN,NaN,Singapore,1.353460,103.815100,admin0,NaN,...,17.02.2020,NaN,NaN,NaN,NaN,NaN,Singapore,200.0,NaN,NaN
3,000-1-1000,NaN,NaN,Zhengzhou City,Henan,China,34.629310,113.468000,admin2,NaN,...,NaN,NaN,NaN,NaN,Zhengzhou City,Henan,China,10091.0,NaN,NaN
4,000-1-10000,NaN,NaN,Pingxiang City,Jiangxi,China,27.513560,113.902900,admin2,NaN,...,NaN,NaN,NaN,NaN,Pingxiang City,Jiangxi,China,7060.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2676306,010-99995,52,female,Calleria,Coronel Portillo,Peru,-8.378190,-74.539700,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14429.0,NaN,False
2676307,010-99996,52,female,Pueblo Libre,Lima,Peru,-12.076530,-77.067350,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14695.0,NaN,False
2676308,010-99997,52,female,Comas,Lima,Peru,-11.932980,-77.040850,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14400.0,NaN,False
2676309,010-99998,52,male,Callao,Callao,Peru,-12.000740,-77.118240,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14516.0,NaN,False
2676310,010-99999,52,male,Los Olivos,Lima,Peru,-11.976260,-77.075030,point,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Peru,14502.0,NaN,False

### crée un sous-ensemble de data

In [5]:
df = dat.loc[:, ['ID', 'age', 'sex', 'symptoms', 'chronic_disease','chronic_disease_binary', 'outcome']]

#df.to_csv('covid_subset.csv', index=False)
#print('The names of all the columns after subseting in the data: \n',df.columns.values)

In [6]:
df

,ID,age,sex,symptoms,chronic_disease,chronic_disease_binary,outcome
0,000-1-1,NaN,male,NaN,NaN,False,"critical condition, intubated as of 14.02.2020"
1,000-1-10,78,male,NaN,NaN,False,death
2,000-1-100,61,female,NaN,NaN,False,discharge
3,000-1-1000,NaN,NaN,NaN,NaN,False,NaN
4,000-1-10000,NaN,NaN,NaN,NaN,False,NaN
...,...,...,...,...,...,...,...
2676306,010-99995,52,female,NaN,NaN,False,NaN
2676307,010-99996,52,female,NaN,NaN,False,NaN
2676308,010-99997,52,female,NaN,NaN,False,NaN
2676309,010-99998,52,male,NaN,NaN,False,NaN
2676310,010-99999,52,male,NaN,NaN,False,NaN

## Combien de null

In [7]:
df.isnull().sum(axis = 0)

ID                              0
age                       2098293
sex                       2096154
symptoms                  2674259
chronic_disease           2676096
chronic_disease_binary          0
outcome                   2368929
dtype: int64

## Outcome

In [8]:
df['outcome'].value_counts()

Hospitalized                                                                202475
Recovered                                                                    93656
Deceased                                                                      5011
recovered                                                                     3659
died                                                                           916
Under treatment                                                                370
Receiving Treatment                                                            257
Alive                                                                          189
discharge                                                                      175
stable                                                                         156
stable condition                                                               133
https://www.mspbs.gov.py/covid-19.php                                          126
discharged                                                                     117
death                                                                           48
Stable                                                                          31
Dead                                                                            13
Migrated_Other                                                                   8
Migrated                                                                         5
Discharged from hospital                                                         4
released from quarantine                                                         4
Died                                                                             4
Death                                                                            4
dead                                                                             3
severe                                                                           2
not hospitalized                                                                 2
recovering at home 03.03.2020                                                    2
Symptoms only improved with cough. Currently hospitalized for follow-up.         2
critical condition, intubated as of 14.02.2020                                   2
Discharged                                                                       2
treated in an intensive care unit (14.02.2020)                                   2
Critical condition                                                               1
critical condition                                                               1
unstable                                                                         1
severe illness                                                                   1
Name: outcome, dtype: int64

In [9]:
df['outcome'].fillna('discharged', inplace=True)

In [10]:
df['outcome'].value_counts()

discharged                                                                  2369046
Hospitalized                                                                 202475
Recovered                                                                     93656
Deceased                                                                       5011
recovered                                                                      3659
died                                                                            916
Under treatment                                                                 370
Receiving Treatment                                                             257
Alive                                                                           189
discharge                                                                       175
stable                                                                          156
stable condition                                                                133
https://www.mspbs.gov.py/covid-19.php                                           126
death                                                                            48
Stable                                                                           31
Dead                                                                             13
Migrated_Other                                                                    8
Migrated                                                                          5
Discharged from hospital                                                          4
released from quarantine                                                          4
Died                                                                              4
Death                                                                             4
dead                                                                              3
severe                                                                            2
not hospitalized                                                                  2
recovering at home 03.03.2020                                                     2
Symptoms only improved with cough. Currently hospitalized for follow-up.          2
critical condition, intubated as of 14.02.2020                                    2
Discharged                                                                        2
treated in an intensive care unit (14.02.2020)                                    2
Critical condition                                                                1
critical condition                                                                1
unstable                                                                          1
severe illness                                                                    1
Name: outcome, dtype: int64

## SEX

In [11]:
df.isnull().sum(axis = 0)

ID                              0
age                       2098293
sex                       2096154
symptoms                  2674259
chronic_disease           2676096
chronic_disease_binary          0
outcome                         0
dtype: int64

In [12]:
df['sex'].value_counts()

male      307188
female    272969
Name: sex, dtype: int64

In [13]:
df['sex'].fillna('male', inplace=True) # car le mode c'est 'male'

## AGE

In [14]:
df = df.dropna(subset=[ 'age'])

In [15]:
df.shape

(578018, 7)

## Symptoms & chronic disese

In [17]:
df = df.dropna(subset=['symptoms'])

In [18]:
df['chronic_disease'].fillna('UNKNOWN', inplace=True)

# Affichage des données après remplissage des valeurs NAN

In [19]:
df.shape
df

,ID,age,sex,symptoms,chronic_disease,chronic_disease_binary,outcome
476,000-1-10426,60,male,"fever, severe pneumonia",UNKNOWN,False,discharged
504,000-1-10451,40-49,male,fever,UNKNOWN,False,discharged
756,000-1-10679,20-29,male,"cough, fever, sore throat",UNKNOWN,False,discharged
765,000-1-10687,40-49,male,"cough, fever",UNKNOWN,False,discharged
767,000-1-10689,80-89,male,"dyspnea, fever",UNKNOWN,False,discharged
...,...,...,...,...,...,...,...
658596,005-47758,60-69,male,cough,UNKNOWN,False,discharged
671470,005-7136,40-49,male,mild,UNKNOWN,False,discharged
672418,005-7990,35,male,"cough, fever, nausea",hypertriglyceridemia,True,discharged
672428,005-8,60-69,male,cough,UNKNOWN,False,discharged
674650,006-1,39,female,mild,UNKNOWN,False,discharged

# Extraire les informations des variables "symptoms" et "chronic_disease" et les convertir en colones

In [20]:
df['symptoms'] = df['symptoms'].str.replace(':', ',')
df['symptoms'] = df['symptoms'].str.replace(';', ',')
df['symptoms'] = df['symptoms'].str.replace(', ', ',')
df['symptoms'] = df['symptoms'].str.lower()

In [21]:
df['symptoms'] = df['symptoms'].str.replace(
    'acute respiratory disease syndrome', 'respiratory problems')
df['symptoms'] = df['symptoms'].str.replace(
    'acute respiratory distress syndrome', 'respiratory problems')
df['symptoms'] = df['symptoms'].str.replace(
    'acute respiratory disease', 'respiratory problems')
df['symptoms'] = df['symptoms'].str.replace(
    'acute respiratory distress', 'respiratory problems')
df['symptoms'] = df['symptoms'].str.replace(
    'acute respiratory failure', 'respiratory problems')
df['symptoms'] = df['symptoms'].str.replace(
    'respiratory stress', 'respiratory problems')
df['symptoms'] = df['symptoms'].str.replace(
    'respiratory symptoms', 'respiratory problems')
df['symptoms'] = df['symptoms'].str.replace(
    'severe acute respiratory infection', 'respiratory problems')
df['symptoms'] = df['symptoms'].str.replace(
    'severe pneumonia', 'pneumonia')
df['symptoms'] = df['symptoms'].str.replace(
    'dry cough', 'cough')

In [22]:
df

,ID,age,sex,symptoms,chronic_disease,chronic_disease_binary,outcome
476,000-1-10426,60,male,"fever,pneumonia",UNKNOWN,False,discharged
504,000-1-10451,40-49,male,fever,UNKNOWN,False,discharged
756,000-1-10679,20-29,male,"cough,fever,sore throat",UNKNOWN,False,discharged
765,000-1-10687,40-49,male,"cough,fever",UNKNOWN,False,discharged
767,000-1-10689,80-89,male,"dyspnea,fever",UNKNOWN,False,discharged
...,...,...,...,...,...,...,...
658596,005-47758,60-69,male,cough,UNKNOWN,False,discharged
671470,005-7136,40-49,male,mild,UNKNOWN,False,discharged
672418,005-7990,35,male,"cough,fever,nausea",hypertriglyceridemia,True,discharged
672428,005-8,60-69,male,cough,UNKNOWN,False,discharged
674650,006-1,39,female,mild,UNKNOWN,False,discharged

In [23]:
sym = df['symptoms'].str.get_dummies(sep=',')
t = sym.sum()
t

 38 ° c fever          2
 fever (38 ℃)          2
37.1 ° c               2
38.7 degrees fever     2
abdominal pain         6
                      ..
vomiting.              2
weak                   9
weakness              15
wheezing               2
yes                    2
Length: 281, dtype: int64

In [24]:

df['chronic_disease'] = df['chronic_disease'].str.replace(':', ',')
df['chronic_disease'] = df['chronic_disease'].str.replace(';', ',')
df['chronic_disease'] = df['chronic_disease'].str.replace(', ', ',')
df['chronic_disease'] = df['chronic_disease'].str.lower()

df['chronic_disease'] = df['chronic_disease'].str.replace(
    ' for more than 20 years', ',')
df['chronic_disease'] = df['chronic_disease'].str.replace(
    ' surgery four years ago', ',')
df['chronic_disease'] = df['chronic_disease'].str.replace(
    ' accident ', ',')
df['chronic_disease'] = df['chronic_disease'].str.replace(
    ' for five years', ',')
df['chronic_disease'] = df['chronic_disease'].str.replace(
    'hypertensive', 'hypertension')
df['chronic_disease'] = df['chronic_disease'].str.replace(
    'hypertenstion', 'hypertension')

cd = df['chronic_disease'].str.get_dummies(sep=',')
v = cd.sum()
v

"thought to have had other pre-existing conditions"       2
asthma                                                    6
atherosclerosis                                           2
atrial fibrillation                                       1
benign prostatic hyperplasia                              1
benign prostatic hypertrophy                              1
bronchial asthma                                          1
cardiac disease                                           5
cardiac dysrhythmia                                       1
cardiomyopathy                                            1
cardiovascular disease                                    2
cerebral infarction                                       2
cerebrovascular                                           1
cerebrovascular infarct                                   1
chronic bronchitis                                        3
chronic kidney disease                                   12
chronic obstructive pulmonary disease                     5
chronic renal insufficiency                               1
colon cancer                                              2
coronary artery disease                                   2
coronary artery stenting                                  1
coronary bypass surgery for 2 years                       2
coronary heart disease                                    4
coronary stenting                                         1
diabetes                                                 61
dislipidemia                                              1
dyslipidemia                                              2
encephalomalacia                                          1
frequent ventricular premature beat (fvpb)                1
hemorrhage of digestive tract                             1
hepatitis b                                               2
hip replacement                                           1
hypertension                                             79
hypertension for 9 years                                  2
hyperthyroidism                                           1
hypertriglyceridemia                                      2
hypothyroidism                                            2
impaired fasting glucose                                  1
infarct                                                   1
ischemic heart disease                                    1
kidney dz                                                 2
myeloma                                                   1
myocarditis                                               1
on dialysis                                               2
parkinson's disease                                       2
pre-renal azotemia                                        2
prostate cancer                                           1
prostate hypertrophy                                      2
renal disease                                             2
stenocardia                                               1
taking medicine of madopar                                1
tongue cancer                                             1
tuberculosis                                              1
type 2 diabetes for 30+ years                             2
unknown                                                1455
unspecified underlying medical condition                  1
upper git bleeding                                        1
valvular heart disease                                    1
dtype: int64

### Choisir les variables qui on plus de 40 valeurs et les convertir en colones

In [25]:
sym = sym.loc[:, sym.sum() >= 40]
cd = cd.loc[:, cd.sum() >= 40]

In [26]:
df = pd.concat([df, sym], axis=1)
df = pd.concat([df, cd], axis=1)

In [27]:
df

,ID,age,sex,symptoms,chronic_disease,chronic_disease_binary,outcome,asymptomatic,cough,fatigue,fever,headache,malaise,pneumonia,respiratory problems,runny nose,sore throat,diabetes,hypertension,unknown
476,000-1-10426,60,male,"fever,pneumonia",unknown,False,discharged,0,0,0,1,0,0,1,0,0,0,0,0,1
504,000-1-10451,40-49,male,fever,unknown,False,discharged,0,0,0,1,0,0,0,0,0,0,0,0,1
756,000-1-10679,20-29,male,"cough,fever,sore throat",unknown,False,discharged,0,1,0,1,0,0,0,0,0,1,0,0,1
765,000-1-10687,40-49,male,"cough,fever",unknown,False,discharged,0,1,0,1,0,0,0,0,0,0,0,0,1
767,000-1-10689,80-89,male,"dyspnea,fever",unknown,False,discharged,0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658596,005-47758,60-69,male,cough,unknown,False,discharged,0,1,0,0,0,0,0,0,0,0,0,0,1
671470,005-7136,40-49,male,mild,unknown,False,discharged,0,0,0,0,0,0,0,0,0,0,0,0,1
672418,005-7990,35,male,"cough,fever,nausea",hypertriglyceridemia,True,discharged,0,1,0,1,0,0,0,0,0,0,0,0,0
672428,005-8,60-69,male,cough,unknown,False,discharged,0,1,0,0,0,0,0,0,0,0,0,0,1
674650,006-1,39,female,mild,unknown,False,discharged,0,0,0,0,0,0,0,0,0,0,0,0,1

## Convertir tous les variable en deux variables Dead:0 ou Dicharged:1

In [28]:
df['outcome'] = df['outcome'].str.lower()
df.outcome = np.where(
    df.outcome.isin(['death', 'dead', 'died', 'deceased']),
    0,
    1
)

In [29]:
df['outcome'].value_counts()

1    1439
0     138
Name: outcome, dtype: int64

## Convertir tous les variable en deux variables female:0 ou male:1

In [30]:
df.sex = np.where(df.sex == 'male',
         1,
         0
)

In [31]:
df['sex'].value_counts()

1    901
0    676
Name: sex, dtype: int64

In [32]:
df

,ID,age,sex,symptoms,chronic_disease,chronic_disease_binary,outcome,asymptomatic,cough,fatigue,fever,headache,malaise,pneumonia,respiratory problems,runny nose,sore throat,diabetes,hypertension,unknown
476,000-1-10426,60,1,"fever,pneumonia",unknown,False,1,0,0,0,1,0,0,1,0,0,0,0,0,1
504,000-1-10451,40-49,1,fever,unknown,False,1,0,0,0,1,0,0,0,0,0,0,0,0,1
756,000-1-10679,20-29,1,"cough,fever,sore throat",unknown,False,1,0,1,0,1,0,0,0,0,0,1,0,0,1
765,000-1-10687,40-49,1,"cough,fever",unknown,False,1,0,1,0,1,0,0,0,0,0,0,0,0,1
767,000-1-10689,80-89,1,"dyspnea,fever",unknown,False,1,0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658596,005-47758,60-69,1,cough,unknown,False,1,0,1,0,0,0,0,0,0,0,0,0,0,1
671470,005-7136,40-49,1,mild,unknown,False,1,0,0,0,0,0,0,0,0,0,0,0,0,1
672418,005-7990,35,1,"cough,fever,nausea",hypertriglyceridemia,True,1,0,1,0,1,0,0,0,0,0,0,0,0,0
672428,005-8,60-69,1,cough,unknown,False,1,0,1,0,0,0,0,0,0,0,0,0,0,1
674650,006-1,39,0,mild,unknown,False,1,0,0,0,0,0,0,0,0,0,0,0,0,1

In [33]:
df.columns

Index(['ID', 'age', 'sex', 'symptoms', 'chronic_disease',
       'chronic_disease_binary', 'outcome', 'asymptomatic', 'cough', 'fatigue',
       'fever', 'headache', 'malaise', 'pneumonia', 'respiratory problems',
       'runny nose', 'sore throat', 'diabetes', 'hypertension', 'unknown'],
      dtype='object')

In [34]:
df.drop(['ID', 'symptoms', 'chronic_disease','unknown'], axis=1, inplace=True)

In [35]:
df

,age,sex,chronic_disease_binary,outcome,asymptomatic,cough,fatigue,fever,headache,malaise,pneumonia,respiratory problems,runny nose,sore throat,diabetes,hypertension
476,60,1,False,1,0,0,0,1,0,0,1,0,0,0,0,0
504,40-49,1,False,1,0,0,0,1,0,0,0,0,0,0,0,0
756,20-29,1,False,1,0,1,0,1,0,0,0,0,0,1,0,0
765,40-49,1,False,1,0,1,0,1,0,0,0,0,0,0,0,0
767,80-89,1,False,1,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658596,60-69,1,False,1,0,1,0,0,0,0,0,0,0,0,0,0
671470,40-49,1,False,1,0,0,0,0,0,0,0,0,0,0,0,0
672418,35,1,True,1,0,1,0,1,0,0,0,0,0,0,0,0
672428,60-69,1,False,1,0,1,0,0,0,0,0,0,0,0,0,0
674650,39,0,False,1,0,0,0,0,0,0,0,0,0,0,0,0

In [36]:

df['chronic_disease_binary'].value_counts()

False    1451
True      126
Name: chronic_disease_binary, dtype: int64

In [37]:
df.chronic_disease_binary = np.where(df.chronic_disease_binary == True,
         1,
         0
)

In [38]:
df['chronic_disease_binary'].value_counts()

0    1451
1     126
Name: chronic_disease_binary, dtype: int64

In [39]:
df

,age,sex,chronic_disease_binary,outcome,asymptomatic,cough,fatigue,fever,headache,malaise,pneumonia,respiratory problems,runny nose,sore throat,diabetes,hypertension
476,60,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0
504,40-49,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0
756,20-29,1,0,1,0,1,0,1,0,0,0,0,0,1,0,0
765,40-49,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0
767,80-89,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658596,60-69,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
671470,40-49,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
672418,35,1,1,1,0,1,0,1,0,0,0,0,0,0,0,0
672428,60-69,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
674650,39,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [40]:
df.dtypes

age                       object
sex                        int32
chronic_disease_binary     int32
outcome                    int32
asymptomatic               int64
cough                      int64
fatigue                    int64
fever                      int64
headache                   int64
malaise                    int64
pneumonia                  int64
respiratory problems       int64
runny nose                 int64
sore throat                int64
diabetes                   int64
hypertension               int64
dtype: object

## Nettoyage du variable AGE

In [41]:
all_age = df['age'].value_counts().index.tolist()

In [42]:
all_age

['50-59',
 '60-69',
 '40-49',
 '70-79',
 '30-39',
 '80-89',
 '20-29',
 '33',
 '60',
 '42',
 '46',
 '55',
 '39',
 '51',
 '37',
 '41',
 '36',
 '28',
 '38',
 '43',
 '35',
 '47',
 '65',
 '66',
 '52',
 '64',
 '44',
 '0-10',
 '61',
 '72',
 '29',
 '49',
 '62',
 '69',
 '32',
 '56',
 '50',
 '59',
 '73',
 '40',
 '80',
 '54',
 '25',
 '27',
 '68',
 '31',
 '53',
 '34',
 '57',
 '67',
 '70',
 '58',
 '71',
 '45',
 '48',
 '20',
 42.0,
 '24',
 '16',
 '22',
 '63',
 '78',
 '21',
 '26',
 '75',
 '74',
 '19',
 '90-99',
 '76',
 '2',
 '82',
 '30',
 '23',
 27.0,
 '86',
 '79',
 '0.25',
 '18-60',
 56.0,
 '13-19',
 '89',
 '60-60',
 38.0,
 '83',
 '81',
 52.0,
 69.0,
 50.0,
 '50-69',
 32.0,
 37.0,
 '11',
 '88',
 40.0,
 '9',
 '17',
 33.0,
 '87',
 28.0,
 '1',
 '65-',
 '77',
 45.0,
 '0-6',
 '1.75',
 '10',
 61.0,
 72.0,
 '96',
 44.0,
 '14',
 '7',
 '18',
 60.0,
 '6',
 62.0,
 '15-88',
 68.0,
 41.0,
 '13',
 18.0,
 76.0,
 31.0,
 '94',
 64.0,
 '84',
 13.0,
 47.0,
 70.0,
 30.0,
 66.0,
 57.0,
 22.0,
 35.0,
 '30-35']

In [43]:
df.age = df.age.str.replace('90-99', '95')
df.age = df.age.str.replace('80-89', '85')
df.age = df.age.str.replace('80-', '80')
df.age = df.age.str.replace('70-79', '75')
df.age = df.age.str.replace('65-', '65')
df.age = df.age.str.replace('60-69', '65')
df.age = df.age.str.replace('60-60', '60')
df.age = df.age.str.replace('50-69', '60')
df.age = df.age.str.replace('50-59', '55')
df.age = df.age.str.replace('40-49', '45')
df.age = df.age.str.replace('15-88', '45')
df.age = df.age.str.replace('18-60', '39')
df.age = df.age.str.replace('30-39', '35')
df.age = df.age.str.replace('30-35', '33')
df.age = df.age.str.replace('28-35', '31')
df.age = df.age.str.replace('20-29', '25')
df.age = df.age.str.replace('13-19', '16')
df.age = df.age.str.replace('0-10', '5')
df.age = df.age.str.replace('0-6', '3')


df.age = df.age.astype('float')

In [44]:
df.isnull().sum(axis = 0)

age                       64
sex                        0
chronic_disease_binary     0
outcome                    0
asymptomatic               0
cough                      0
fatigue                    0
fever                      0
headache                   0
malaise                    0
pneumonia                  0
respiratory problems       0
runny nose                 0
sore throat                0
diabetes                   0
hypertension               0
dtype: int64

### Calculer la moyenne des ages et remplacer NAN par cette valeur

In [45]:
df['age'].mean()

50.27263714474554

In [46]:
df['age'].fillna(50, inplace=True)

In [47]:
df.age = df.age.astype('int64')

In [48]:
df

,age,sex,chronic_disease_binary,outcome,asymptomatic,cough,fatigue,fever,headache,malaise,pneumonia,respiratory problems,runny nose,sore throat,diabetes,hypertension
476,60,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0
504,45,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0
756,25,1,0,1,0,1,0,1,0,0,0,0,0,1,0,0
765,45,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0
767,85,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658596,65,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
671470,45,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
672418,35,1,1,1,0,1,0,1,0,0,0,0,0,0,0,0
672428,65,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
674650,39,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [49]:
df.dtypes

age                       int64
sex                       int32
chronic_disease_binary    int32
outcome                   int32
asymptomatic              int64
cough                     int64
fatigue                   int64
fever                     int64
headache                  int64
malaise                   int64
pneumonia                 int64
respiratory problems      int64
runny nose                int64
sore throat               int64
diabetes                  int64
hypertension              int64
dtype: object

# Réorganiser les colonnes

In [50]:

cols = df.columns.tolist()
cols = cols[0:3] + cols[4:16] + cols[3:4]

In [51]:
cols

['age',
 'sex',
 'chronic_disease_binary',
 'asymptomatic',
 'cough',
 'fatigue',
 'fever',
 'headache',
 'malaise',
 'pneumonia',
 'respiratory problems',
 'runny nose',
 'sore throat',
 'diabetes',
 'hypertension',
 'outcome']

In [53]:
df = df[cols]  #    OR    df = df.ix[:, cols]

# Notre jeu de données après le nettoyage

In [54]:
df

,age,sex,chronic_disease_binary,asymptomatic,cough,fatigue,fever,headache,malaise,pneumonia,respiratory problems,runny nose,sore throat,diabetes,hypertension,outcome
476,60,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1
504,45,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1
756,25,1,0,0,1,0,1,0,0,0,0,0,1,0,0,1
765,45,1,0,0,1,0,1,0,0,0,0,0,0,0,0,1
767,85,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658596,65,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1
671470,45,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
672418,35,1,1,0,1,0,1,0,0,0,0,0,0,0,0,1
672428,65,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1
674650,39,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

# Enregistrer ce jeu données sous format CSV

In [55]:
df.to_csv('covid_data_cleaned.csv', index=False)

***
### Réalisé par : AABBOU ZAKARIA
- [E-mail :](mailto:zakaria.abbou199434@gmail.com) zakaria.abbou199434@gmail.com
- [GitHub :](https://github.com/ZakariaAABBOU) github.com/ZakariaAABBOU
- [Linkedin :](https://www.linkedin.com/in/zakaria-aabbou/) linkedin.com/in/zakaria-aabbou/